
// COULEURS
$white-color:hsl(0, 0%, 100%);
$lightGray-color:hsl(212, 45%, 89%);
$blueGray-color: hsl(220, 15%, 55%);
$darkBlue-color:hsl(218, 44%, 22%);

// FONT
body{
    background-color: $lightGray-color;
    font-family: 'Outfit', sans-serif;
    font-size: 0.938rem; // 15px;
    font-weight: 400,700;
}

// DESKTOP = 1440px & MOBILE = 375px RESPONSIVE
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Changer la hauteur selon vos besoins */
}
.card{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: $white-color;
    border-radius: 15px;
    padding: 10px;
}

.card-contents{
    padding: 1.8%;
}
.card-txt{
    margin: 1%;
}
.card img{
    width: 100%;
    border-radius: 10px;
}

.card p {
    width: 100%;
    text-align: center;
    margin-bottom: 7%;
}

.card p:nth-child(1){
    color: $darkBlue-color;
    font-weight: 700;
    font-size: 1rem;
}
.card p:nth-child(2){
    color: $blueGray-color;
    font-weight: 400;
    width: 90%;
    margin-left: 5%;
}
@media screen and (max-width:795px)  {
    .card {
        display: flex;
        flex-direction: column;
        width: 50%;
        background-color: hsl(0deg, 0%, 100%);
        border-radius: 15px;
        padding: 10px;
    }
}
